[submodule "Models/Dynamicity-model"]
	path = Models/Dynamicity-model
	url = git@github.com:JusteRaimbault/Dynamicity-model.git
[submodule "Models/coco"]
	path = Models/coco
	url = git@github.com:JusteRaimbault/coco.git
[submodule "Models/stylized-fact-checking"]
	path = Models/stylized-fact-checking
	url = ssh://git@gitlab.iscpif.fr:20022/gcherel/stylized-fact-checking.git
[submodule "Docs/Papers/LutiSensitivity"]
	path = Docs/Papers/LutiSensitivity-paper
	url = git@github.com:JusteRaimbault/LutiSensitivity-paper.git
[submodule "Docs/Communications/2019/ECTQG2019/SpecialSessionNetworks"]
	path = Docs/Communications/2019/ECTQG2019/ECTQG2019-SessionNetwork
	url = git@github.com:JusteRaimbault/ECTQG2019-SessionNetwork.git
[submodule "Docs/Papers/UrbanPerspectives"]
	path = Docs/Papers/UrbanPerspectives-paper
	url = git@github.com:JusteRaimbault/UrbanPerspectives-paper.git
[submodule "Docs/Communications/2019/ECTQG2019/ExModeloRetex"]
	path = Docs/Communications/2019/ECTQG2019/ECTQG2019-Simulation
	url = git@github.com:JusteRaimbault/ECTQG2019-Simulation.git
[submodule "Docs/Papers/ABMExploration"]
	path = Docs/Papers/roadmapExplo
	url = git@github.com:pioucyril/roadmapExplo.git
[submodule "Models/Misc/h24"]
	path = Models/Misc/h24
	url = git@github.com:Geographie-cites/h24.git
[submodule "Docs/Papers/ScientificWorkflows"]
	path = Docs/Papers/ScientificWorkflows
	url = git@github.com:JusteRaimbault/ScientificWorkflows-paper.git
[submodule "Docs/Papers/ModelValidationBook"]
	path = Docs/Papers/ModelValidationBook
	url = ssh://git@gitlab.openmole.org:10000/exmodelo/ouvrage.git
[submodule "Docs/Papers/ComplexitiesUrbanScience"]
	path = Docs/Papers/ComplexitiesUrbanScience
	url = git@github.com:JusteRaimbault/ComplexitiesUrbanScience.git
